@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Designed and Developed by Dan Burnage
	Email: info@danburnage.com
*/

/*------------------------------------------------------------------- */
/* LAYOUT CSS */

html {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	height: inherit;
	overflow: hidden;
	background-color: #fff;
	font-family: UniSansSemiBold;
}
#oncanvas-menu {
	width: 52px;
	height: inherit;
	float: right;
	background-color: #fff;
}
#grid_container {
	width: calc(100% - 53px);
    width: -webkit-calc(100% - 53px);
    width: -moz-calc(100% - 53px);
	height: inherit;
	overflow: auto;
	background-color:#fff;
	float: left;
	margin: auto;
}
#grid_content {
	width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
	float: none;
	overflow: hidden;
	margin: auto;
    margin-top: 17px;
    margin-left: 17px;
	background-color: #3737ff;
	display: block;
    position: relative;
}
#grid_desc {  /* ----- PROJECT DESCRIPTION WITH MEDIA SCALING ----- */
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    height: auto;
    float: none;
    margin-top: 15px;
    margin-left: 18px;
    background-color: #fff;
    position: relative;
}
@media screen and (min-width:480px) {
    #grid_desc {
        width:70%;
    }
}
@media screen and (min-width:600px) {
    #grid_desc {
        width:55%;
    }
}
@media screen and (min-width:1200px) {
    #grid_desc {
        width:40%;
    }
}


/*------------------------------------------------------------------- */
/* NAVIGATION CSS */

#contentarea{
    position: relative;
    width: 100%;
	height: inherit;
    transform: translate3d(0,0,0);
	-webkit-transform: translateX(0);
	-webkit-transition: all 0.3s linear;
}

#offcanvas-menu{ /* Full screen nav menu */
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    visibility: hidden;
    position: fixed;
    transform: translate3d(250px,0,0);
	-webkit-transform: translateX(250px);
    -webkit-transition: all 0.3s linear;
    box-sizing: border-box;
    background: #fff;
    display: block;
    text-align: left;
    overflow: auto;
    padding: 15px;
    padding-top: 0px;
}

#togglebox {  /* checkbox used to toggle menu state */
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden; /* hide checkbox */
    z-index: 1000;
}
#toggle {
    position: relative;
    width: inherit;
    height: 45px;
    top:2px;
    z-index: 1;
    display: inline-block;

}
.bar1,  .bar2 {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background-color: #3737ff;
    margin: 6px auto;
    top: 10px;
    transition: 0.4s;
    z-index: 2;
}
.change .bar1  {
    -webkit-transform: rotate(-45deg) translate(-1px, 0px) ;
    transform: rotate(-45deg) translate(-1px, -0px) ;

}
.change .bar2 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px);
    transform: rotate(45deg) translate(-7px, -6px);
}
#togglebox:checked ~ #contentarea{
    margin-left: 0px;
    transform: translate3d(-250px,0,0); /* shift contentarea */
	-webkit-transform: translateX(-250px); /* safari compatability */
	-webkit-transition: all 0.3s  linear;
    z-index: 1;
}
#togglebox:checked ~ #offcanvas-menu{ /* nav state when checkbox is checked */
    transform: translate3d(0,0,0);
	-webkit-transform: translateX(0); /* safari compatability */
    visibility: visible ; /* cross browser support */
	-webkit-transition: all 0.3s linear;
}
.logo {  /* centre alignment class */
	display: block;
	margin: auto;
    padding-top: 50vh;
    padding-right: 5px;
	width: 35%;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    z-index: 1;
}
.logoscaler {
    width: 100%;
}

/*------------------------------------------------------------------- */
/* STYLING CSS */
.imgfill {
	width:100%;
    display:  block;
    margin:  0;
    -webkit-transition: all 0.4s linear;
}
.imgfill:hover {
	opacity: 0.3;
	-webkit-transition: all 0.4s linear;
}
.staticimg {
    width:100%;
    display: block;
    margin:0px;
}
.UniSansBook {
	font-family: UniSansBook;
	font-weight: lighter;
	font-style: normal;
    color: #3737ff;
    font-size: 15px;
}
.UniSansSemiBold {
	font-family: UniSansSemiBold;
	font-weight: normal;
	font-style: normal;
    color: #3737ff;
    font-size: 15px;
}
p {
    font-family: UniSansSemiBold;
	font-weight: normal;
	font-style: normal;
    color: #3737ff;
    font-size: 15px;
}
#grid_content .overlay {
    position: absolute;
	left: 5%;
    width: 90%;
    height:auto;
    color: #fff;
    opacity: 0;
    font-size: 3vw;
	font-family: UniSansSemiBold;
	pointer-events: none;
	text-align: center;
    top: 45%;
    -webkit-transition: all 0.3s linear;
}
#grid_content:hover .overlay {
    opacity: 1;
	-webkit-transition: all 0.4s linear;
}
a:link, a:visited, a:hover{
    color:#3737ff;
}
a:active {
    color:rgba(55, 55, 255, 0.70);
}
::selection {
    background:rgba(72,61,139, 0.9); /* WebKit/Blink Browsers */
    color:aqua;
}
::-moz-selection {
    background:rgba(72,61,139, 0.9); /* Gecko Browsers */
    color:aqua;
}
