@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Custom CSS, Developed by Dan Burnage
	Email: info@danburnage.com
    Phone: +44 (0) 7749 999022
*/

/*------------------------------------------------------------------- */
/* LAYOUT CSS */

html {
	height: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	height: inherit;
	overflow: hidden;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}
#oncanvas-menu {
	width: 50px;
	height: inherit;
	float: right;
    overflow: hidden;
	background-color: #000;
}
#site_container {
	width: calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: -moz-calc(100% - 50px);
	height: inherit;
	overflow: auto;
	background-color:#fff;
	float: left;
	margin: auto;
}
#site_header {
	width: calc(100%);
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
    height: 90%;
	overflow: hidden;
	margin: auto;
	display: block;
    position: relative;
    background-color: #313031;
}
#site_main {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin: auto;
    overflow-x: hidden;
}
#site_banner {
    width: 100%;
    height: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 35px;
    padding-top:35px;
    background-color: #313031;
}
#site_slider {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    overflow-x: hidden;
    margin-top: 20px;
}
#site_footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 25px;
    padding-top:25px;
    background-color: #f6921d;
}
#site_grid {
    width: 90%;
    max-width: px;
    height: auto;
    margin: auto;
    overflow-x: hidden;
}
#product_header {
    width: calc(100%);
    width: -webkit-calc(100%);
    width: -moz-calc(100%);
    height: auto;
    max-height: 75%;
	overflow: hidden;
}
.slider__display {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__display_fill {
    width: 125%;
    min-height: 210px;
    opacity: 0.5;
    transform: translate(-10%);
}
@media screen and (max-width: 640px){
  .slider__display {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
}
.slider{
    position: relative;
    background-color: #f6921d;
    overflow: hidden;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    height: 40vw;
    min-height: 200px;
    max-height: 400px;
}
.slider__slides{
  height: 100%;
}
.slider__slide{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
    overflow: hidden;
}
.slider__switch{
  position: absolute;
  top: 0;
  left: -9999px;
    visibility: hidden;
}
.slider__switch:hover + .slider__control, .slider__switch:focus + .slider__control, .slider__switch:checked + .slider__control{
  transform: scale(1.3);
background-color: #f6921d;
}
.slider__control{
  width: 1.45rem;
  height: 1.45rem;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
  background-color: #fff;
  transition: transform .2s ease-out;
  position: absolute;
  margin-left: -.75rem;
  bottom: 25px;
  z-index: 2;
}
.slider__control:nth-of-type(2){
  left: 50%;
}
.slider__control:nth-of-type(1){
    left: 43%;
  }
.slider__control:nth-of-type(3){
    left: 57%;
  }
@media screen and (max-width: 520px){
  .slider__control:nth-of-type(1){
    left: 32%;
  }
  .slider__control:nth-of-type(3){
    left: 67%;
  }
.slider__switch:hover + .slider__control, .slider__switch:focus + .slider__control, .slider__switch:checked + .slider__control{
    transform: scale(1.3);
    background-color: #f6921d;
}
.slider__control{
  width: 1.75rem;
  height: 1.75rem;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
  background-color: #fff;
  transition: transform .2s ease-out;
  position: absolute;
  margin-left: -.75rem;
  bottom: 15px;
  z-index: 2;
}
}
.slider__content{
  height: 100%;
}
.slider_mod--slide-to-left .slider__slides{
  transition: transform .5s;
}
.slider_mod--slide-to-left .slider__slide:nth-of-type(1){
  left: 0;
}
.slider_mod--slide-to-left .slider__slide:nth-of-type(2){
  left: 100%;
}
.slider_mod--slide-to-left .slider__slide:nth-of-type(3){
  left: 200%;
}
.slider_mod--slide-to-left .slider__switch:nth-of-type(2):checked ~ .slider__slides{
  transform: translate3d(-100%, 0, 0);
}
.slider_mod--slide-to-left .slider__switch:nth-of-type(3):checked ~ .slider__slides{
  transform: translate3d(-200%, 0, 0);
}


/*------------------------------------------------------------------- */
/* NAVIGATION CSS */

#contentarea{
    position: relative;
    width: 100%;
	height: inherit;
    transform: translate3d(0,0,0);
	-webkit-transform: translateX(0);
	-webkit-transition: all 0.3s linear;
}

#offcanvas-menu{ /* Full screen nav menu */
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    transform: translate3d(250px,0,0);
	-webkit-transform: translateX(250px);
    box-sizing: border-box;
    text-align: left;
    display: block;
    padding: 15px;
    padding-top: 0px;
}

#togglebox {  /* checkbox used to toggle menu state */
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden; /* hide checkbox */
    z-index: 1;
}
#toggle {
    position: relative;
    width: inherit;
    height: 45px;
    z-index: 1;
    display: inline-block;

}
.bar1,  .bar2 {
    display: block;
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px auto;
    top: 10px;
    transition: 0.4s;
    z-index: 2;
}
.change .bar1  {
    -webkit-transform: rotate(-45deg) translate(-1px, 0px) ;
    transform: rotate(-45deg) translate(-1px, -0px) ;

}
.change .bar2 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px);
    transform: rotate(45deg) translate(-7px, -6px);
}
#togglebox:checked ~ #contentarea{
    margin-left: 0px;
    transform: translate3d(-250px,0,0); /* shift contentarea */
	-webkit-transform: translateX(-250px); /* safari compatability */
	-webkit-transition: all 0.3s  linear;
    z-index: 1;
}
#togglebox:checked ~ #offcanvas-menu{ /* nav state when checkbox is checked */
    transform: translate3d(0,0,0);
	-webkit-transform: translateX(0); /* safari compatability */
    visibility: visible ; /* cross browser support */
	-webkit-transition: all 0.3s linear;
}
.logo {  /* centre alignment class */
	display: block;
	margin: auto;
	width: 25%;
	position: relative;
    top: 50%;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    z-index: 1;
}
.logoscaler {
    width: 100%;
}
#navi {
    position: relative;
    width: 250px;
    height:25px;
    color: #fff;
    text-decoration: none;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: #fff;
    z-index: 100;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}
#navi:hover, #navi:active {
    border-color: #f6921d;
}
#navi.active {
    border-color: #f6921d;
}

/*------------------------------------------------------------------- */
/* STYLING CSS */
.imgfill {
    width: inherit;
	min-width: 100%;
    opacity: 0.9;
}
.imgcenter {
    display: block;
    align-content: center;
    margin: auto;
}
.nav_img {
    opacity: 0.15;
    transform: translateY(-190px);
    position: absolute;
    z-index: 0;
    height: 150%;
}
.inline_img {
    width: 100%;
    overflow:hidden;
    padding-top: 20px;
    padding-bottom: 35px;

}

#product_grid {
    margin-top: 35px;
}
.product_title {
    position: absolute;
    width: 100%;
    top: 42.5%;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
}
.product_img {
    width: 125%;
    min-height: 100%;
    transform: translateY(-0%) translateX(-10%);
    opacity: 0.45;
}
.product_imgT {
    width: 120%;
    transform: translateY(0%) translateX(-10%);
    min-height: 100%;
}

.product {
    position: relative;
    background-color: #f6921d;
    display: inline-block;
    width: calc(100% - 0px);
    width: -webkit-calc(100% - 0px);
    width: -moz-calc(100% - 0px);
    height: 20vw;
    min-height: 200px;
    max-height: 300px;
    margin: 5px;
    overflow:hidden;
}
@media screen and (min-width: 540px){
.product {
    width: calc(50% - 15px);
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
}
}
@media screen and (min-width: 880px){
.product {
    width: calc(33.3% - 15px);
    width: -webkit-calc(33.3% - 15px);
    width: -moz-calc(33.3% - 15px);
}
}
@media screen and (min-width: 1340px){
    .product {
    width: calc(25% - 15px);
    width: -webkit-calc(25% - 15px);
    width: -moz-calc(25% - 15px);
}
    .product_img {
    width: 150%;
    min-width: 400px;
}
}


.RobotoRegular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
    color: #313031;
    font-size: 16px;
}
.RobotoBold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #fff;
    font-size: 18px;
}
a {
    text-decoration: none;
}
h1{
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #313031;
    font-size: 30px;
    margin: 0;
}
h2{
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #f6921d;
    font-size: 30px;
    margin: 0;
}
h3{
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #fff;
    font-size: 30px;
    margin: 0;
}
a {
    font-weight: 700;
    color:inherit;
}
b {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
    color: #f6921d;
}
c {
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
    font-size: 16px;
}
.footer_text {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
}
.slider_title {
    position: absolute;
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
}
@media (orientation:landscape) {
    #site_header .overlay {
        position: absolute;
        left: 2.5%;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: center;
        width: 90%;
        height:auto;
        color: #fff;
        font-size: 16vh;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
.overlay {
    position: relative;
    left: 4%;
    top: 15px;
    margin-top: 10px;
    width: 90%;
    color: #f6921d;
    font-size: 15vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
    .arrow {
    position: relative;
    display: block;
    width:50px;
    transform-origin: center;
    transform:  translateY(-50%);
    left: calc(50% - 35px);
    left: -webkit-calc(50% - 35px);
    left: -moz-calc(50% - 35px);
    cursor: pointer;
}
.arrow2 {
    position: relative;
    display: block;
    width:50px;
    transform-origin: center;
    transform:  translateY(+50%);
    left: calc(50% - 35px);
    left: -webkit-calc(50% - 35px);
    left: -moz-calc(50% - 35px);
    cursor: pointer;
    z-index: 1;
}
}

@media (orientation:portrait) {
    #site_header .overlay {
        position: absolute;
        left: 4%;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: center;
        width: 90%;
        height:auto;
        color: #fff;
        font-size: 10vh;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
.overlay {
    position: relative;
    left: 4%;
    top: 15px;
    margin-top: 10px;
    width: 90%;
    color: #f6921d;
    font-size: 10vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.arrow {
    position: relative;
    display: block;
    width:50px;
    transform-origin: center;
    transform:  translateY(-50%);
    left: calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    cursor: pointer;
}
.arrow2 {
    position: relative;
    display: block;
    width:50px;
    transform-origin: center;
    transform:  translateY(+50%);
    left: calc(50% - 35px);
    left: -webkit-calc(50% - 35px);
    left: -moz-calc(50% - 35px);
    cursor: pointer;
    z-index: 1;
}
}
