::-webkit-scrollbar{
	width: 5px;
}

::-webkit-scrollbar-track-piece{
	background-color: #fff;
}

::-webkit-scrollbar-thumb{
	background-color: rgba(246, 146, 29, 0.75);
	outline: 0px solid #f6921d;
	outline-offset: -2px;
	border: 0px solid #fff;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #f6921d;
}
