@charset "utf-8";
/*------------------------------------------------------------------- */

/*
	Designed and Developed by Dan Burnage
	Email: info@danburnage.com
*/

/*------------------------------------------------------------------- */

/* LAYOUT CSS */

html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	height: inherit;
	overflow: hidden;
	background-color: #fff;
}

#oncanvas-menu {
	display: flex;
	flex-wrap: wrap;
	width: 52px;
	height: inherit;
	background-color: #fff;
}

#grid_container {
	width: calc(100% - 53px);
	width: -webkit-calc(100% - 53px);
	width: -moz-calc(100% - 53px);
	height: inherit;
	overflow: auto;
}

#grid_content {
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	overflow: hidden;
	margin: auto;
	margin-top: 17px;
	margin-left: 17px;
	background-color: var(--brand-color);
	display: block;
	position: relative;
}

#video_wrapper {
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	margin: auto;
	margin-top: 17px;
	margin-left: 17px;
	padding-bottom: calc(56.25% - 17px);
	padding-bottom: -webkit-calc(56.25% - 17px);
	padding-bottom: -moz-calc(56.25% - 17px);
	position: relative;
}

#flex_wrapper {
	display: flex;
	position: relative;
	margin-right: 13px;
	margin-top: 17px;
	margin-left: 17px;
}

#grid_title {
	flex-wrap: wrap;
	position: relative;
}

#grid_title_divider {
	width: 100px;
	height: 2px;
}

#grid_desc {
	position: relative;
	flex-wrap: wrap;
}

#grid_copyright {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-right: 13px;
	margin-left: 17px;
}

/*------------------------------------------------------------------- */
/* RESPONSIVE - LAYOUT */

@media screen and (min-width:0px)  {
	/* Mobile */

	#flex_wrapper {
		padding: 0vw 0vw;
		flex-wrap: wrap;
		margin-top: 9px;
	}

	#grid_copyright {
		padding: 9px 3vw;

	}

	#grid_title {
		width: 100%;
		margin: 3vw 3vw;
	}

	#grid_desc {
		width: 100%;
		margin: 0vw 3vw 0vw 3vw;
	}

	#grid_title_divider {
		margin: 12px 0 18px 0;
	}

	#offcanvas-menu {
		margin-top: 9px;
	}

	.link_icon {
		margin: auto 8px auto 0px;
	}

	#attribution {
		flex-wrap: wrap;
		opacity: 0.3;
		margin-top: 2px !important;
		margin-left: 8px;
		text-decoration: none;
	}
}

@media screen and (min-width:600px) {

	/* Tablet */
	#flex_wrapper {
		padding: 8vw 10vw;
	}

	#grid_copyright {
		padding: 9px 10vw;
	}

	#grid_title {
		margin: 0vw 0vw;
	}

	#grid_desc {
		width: 100%;
		margin: 0vw 2vw 0vw 0vw;
	}

	#attribution {
		flex-wrap: wrap;
		opacity: 0.2;
		margin-left: auto !important;
	}

}

@media screen and (min-width:1024px) {
	/* Desktop Small */

	#flex_wrapper {
		padding: 5vw 8vw;
		flex-wrap: nowrap;
	}

	#grid_copyright {
		padding: 9px 8vw;
	}

	#grid_title {
		width: 40%;
		margin: 0vw 0vw;
	}

	#grid_desc {
		width: 60%;
		margin: 0.5vw 0 1.6vw 3vw;
	}

	#grid_title_divider {
		margin: 32px 0 32px 0;
	}

}

@media screen and (min-width:1366px) {
	/* Desktop Large */

	#flex_wrapper {
		padding: 5vw 20vw 5vw 12vw;
	}

	#grid_desc {
		margin: 1vw 0 1.6vw 3vw;
	}

	#grid_copyright {
		padding: 9px 12vw;
	}

}


/*------------------------------------------------------------------- */
/* NAVIGATION CSS */

#contentarea {
	display: flex;
	position: relative;
	width: 100%;
	height: inherit;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translateX(0);
	-webkit-transition: all 0.3s linear;
}

#offcanvas-menu {
	/* Full screen nav menu */
	width: 268px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	position: fixed;
	transform: translate3d(268px, 0, 0);
	-webkit-transform: translateX(268px);
	-webkit-transition: all 0.3s linear;
	box-sizing: border-box;
	background: #fff;
	display: block;
	text-align: left;
	overflow: auto;
	padding: 0px 25px 0px 15px;
}

#togglebox {
	/* checkbox used to toggle menu state */
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
	/* hide checkbox */
	z-index: 1000;
}

#toggle {
	position: relative;
	width: inherit;
	height: 65px;
	top: 2px;
	z-index: 1;
	display: inline-block;
}

.toggle_button {
	width: 100%;
	height: 65px;
	cursor: pointer;
}

.bar1,
.bar2 {
	display: block;
	position: relative;
	cursor: pointer;
	width: 30px;
	height: 4px;
	background-color: var(--brand-color);
	margin: 6px auto;
	top: 10px;
	transition: 0.4s;
	z-index: 2;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-1px, 0px);
	transform: rotate(-45deg) translate(-1px, -0px);
}

.change .bar2 {
	-webkit-transform: rotate(45deg) translate(-7px, -6px);
	transform: rotate(45deg) translate(-7px, -6px);
}

#togglebox:checked ~ #contentarea {
	margin-left: 0px;
	transform: translate3d(-268px, 0, 0);
	/* shift contentarea */
	-webkit-transform: translateX(-268px);
	/* safari compatability */
	-webkit-transition: all 0.3s linear;
	z-index: 1;
}

#togglebox:checked ~ #offcanvas-menu {
	/* nav state when checkbox is checked */
	transform: translate3d(0, 0, 0);
	-webkit-transform: translateX(0);
	/* safari compatability */
	visibility: visible;
	/* cross browser support */
	-webkit-transition: all 0.3s linear;
}

.nav_logo {
	display: flex;
	margin: 0 auto;
	max-height: 150px;
	width: 35%;
	padding-right: 5px;
	transform: translateY(-45px);
	-webkit-transform: translateY(-45px);
	z-index: 1000;
}

.logoscaler {
	width: 100%;
}

/*------------------------------------------------------------------- */
/* STYLING CSS */

.link_wrapper {
	display: flex;
	text-decoration: none;
}

.link {
	font-weight: bold;
	transition: 0.2s ease;
}

.link_icon {
	height: 1em;
	display: block;
	transition: 0.2s ease;
}

@media (hover: hover) {
	/* Link hover query*/

	.link {
		opacity: 0.6;
		transform: translateX(-31px);
		-webkit-transform: translateX(-31px);
	}

	.link_icon {
		opacity: 0;
		transform: translateX(-31px);
		-webkit-transform: translateX(-31px);
	}

	.link_wrapper:hover .link_icon {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
	}

	.link_wrapper:hover .link {
		opacity: 1;
		transform: translateX(0px);
		-webkit-transform: translateX(0px);
	}
}

.social_icon {
	height: 17px;
	margin: 0 4px 0 0;
	display: inline-block;
	opacity: 0.5;
	transition: 0.2s ease;
	transform: translateY(4px);
}
.social_icon.last {
	margin: 0 10px 0 0 !important;
}

.social_icon:hover {
	opacity: 1;
}

#grid_copyright a {
	display: inline-flex;
}

#grid_copyright p {
	margin: 0px 0 0 0;
}


.imgfill {
	width: 100%;
	display: block;
	margin: 0;
	-webkit-transition: all 0.35s ease;
	background-color: var(--brand-color);
}

.imgfill:hover {
	opacity: 0.2;
	-webkit-transition: all 0.5s ease;
}

.staticimg {
	width: 100%;
	display: block;
	margin: 0px;
}

.video {
	position: absolute;
	width: 100%;
	height: 100%;
}

#grid_content .overlay {
	position: absolute;
	width: 70%;
	padding: 0 15%;
	opacity: 0;
	pointer-events: none;
	top: 42.5%;
	-webkit-transition: all 0.3s linear;
	transform: translateY(-42.5%);
	z-index: 1;
	text-align: center;
	color: #ffffff;
}

#grid_content:hover .overlay {
	opacity: 1;
	-webkit-transition: all 0.4s linear;
}


/*------------------------------------------------------------------- */
/* INTRO SLIDE AND TRANSITION */

#intro_slide {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	pointer-events: none;
	display: flex;
	background-color: var(--brand-color);
	animation: 1.0s cubic-bezier(0.5, 0, 0.5, 1) 1.75s 1 forwards slide_transition_in;
}

#transition_slide {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: var(--brand-color);
	animation: 0.45s ease-out 0.1s 1 forwards slide_transition_in;
}

@keyframes slide_transition_in {

	0% {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}

}

.transition-swup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: var(--brand-color);
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transition: 0.45s;
	transition-timing-function: ease-in;
}

html.is-leaving .transition-swup {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	transition: 0.45s;
}

.intro_logo {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	width: 15vh;
	min-width: 80px;
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	z-index: 1000;
	animation: 1.25s cubic-bezier(0.75, 0, 0.5, 1) 0s 1 forwards logo_transition;
}

@keyframes logo_transition {

	0% {
		opacity: 0;
		-moz-opacity: 0;
		-webkit-opacity: 0;
		filter: alpha(opacity=0);
	}

	100% {
		opacity: 1;
		-moz-opacity: 1;
		-webkit-opacity: 1;
		filter: alpha(opacity=100);
	}

}



/*------------------------------------------------------------------- */
/* MISC CSS */


:root {
	--brand-color: #111111;
}

a:any-link {
	color: var(--brand-color);
}

p a:link, p a:visited, h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3:link, h3 a:visited, h4 a:link, h4 a:visited {
	color: var(--brand-color);
	opacity: 0.6;
	transition: 0.2s;
}

p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	opacity: 1;
	transition: 0.2s;
}

p a:active {
	color: var(--brand-color);
	opacity: 0.6;
}

::selection {
	background: var(--brand-color);
	opacity: 0.6;
	color: #fff;
}

::-moz-selection {
	background: var(--brand-color);
	opacity: 0.6;
	color: #fff;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(17, 17, 17, 0.6);
	outline: 0px solid rgba(17, 17, 17, 0.6);
	outline-offset: -2px;
	border: 0px solid #fff;
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(17, 17, 17, 1);
}
